html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #140032;
  overflow: hidden;
  margin: 0;
}
body * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.flowers {
  animation: 10s mandala linear infinite reverse;
}
.flowers .leaf:nth-child(0) {
  -webkit-transform: translate(0px) rotate(0deg);
          transform: translate(0px) rotate(0deg);
}
.flowers .leaf:nth-child(1) {
  -webkit-transform: translate(0px) rotate(24deg);
          transform: translate(0px) rotate(24deg);
}
.flowers .leaf:nth-child(2) {
  -webkit-transform: translate(0px) rotate(48deg);
          transform: translate(0px) rotate(48deg);
}
.flowers .leaf:nth-child(3) {
  -webkit-transform: translate(0px) rotate(72deg);
          transform: translate(0px) rotate(72deg);
}
.flowers .leaf:nth-child(4) {
  -webkit-transform: translate(0px) rotate(96deg);
          transform: translate(0px) rotate(96deg);
}
.flowers .leaf:nth-child(5) {
  -webkit-transform: translate(0px) rotate(120deg);
          transform: translate(0px) rotate(120deg);
}
.flowers .leaf:nth-child(6) {
  -webkit-transform: translate(0px) rotate(144deg);
          transform: translate(0px) rotate(144deg);
}
.flowers .leaf:nth-child(7) {
  -webkit-transform: translate(0px) rotate(168deg);
          transform: translate(0px) rotate(168deg);
}
.flowers .leaf:nth-child(8) {
  -webkit-transform: translate(0px) rotate(192deg);
          transform: translate(0px) rotate(192deg);
}
.flowers .leaf:nth-child(9) {
  -webkit-transform: translate(0px) rotate(216deg);
          transform: translate(0px) rotate(216deg);
}
.flowers .leaf:nth-child(10) {
  -webkit-transform: translate(0px) rotate(240deg);
          transform: translate(0px) rotate(240deg);
}
.flowers .leaf:nth-child(11) {
  -webkit-transform: translate(0px) rotate(264deg);
          transform: translate(0px) rotate(264deg);
}
.flowers .leaf:nth-child(12) {
  -webkit-transform: translate(0px) rotate(288deg);
          transform: translate(0px) rotate(288deg);
}
.flowers .leaf:nth-child(13) {
  -webkit-transform: translate(0px) rotate(312deg);
          transform: translate(0px) rotate(312deg);
}
.flowers .leaf:nth-child(14) {
  -webkit-transform: translate(0px) rotate(336deg);
          transform: translate(0px) rotate(336deg);
}
.flowers .leaf:nth-child(15) {
  -webkit-transform: translate(0px) rotate(360deg);
          transform: translate(0px) rotate(360deg);
}
.flowers .leaf .line {
  width: 100px;
  height: 2px;
  -webkit-animation: mandala 2s linear infinite;
          animation: mandala 2s linear infinite;
}
.flowers .leaf .line:nth-child(1) {
  top: 0px;
  background-color: red;
  box-shadow: red 100px 0px 3px 2px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.flowers .leaf .line:nth-child(2) {
  top: 50px;
  background-color: #ff0e00;
  box-shadow: #ff0e00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.0666666667s;
          animation-delay: -0.0666666667s;
}
.flowers .leaf .line:nth-child(3) {
  top: 100px;
  background-color: #ff1c00;
  box-shadow: #ff1c00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.1333333333s;
          animation-delay: -0.1333333333s;
}
.flowers .leaf .line:nth-child(4) {
  top: 150px;
  background-color: #ff2b00;
  box-shadow: #ff2b00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.flowers .leaf .line:nth-child(5) {
  top: 200px;
  background-color: #ff3900;
  box-shadow: #ff3900 100px 0px 3px 2px;
  -webkit-animation-delay: -0.2666666667s;
          animation-delay: -0.2666666667s;
}
.flowers .leaf .line:nth-child(6) {
  top: 250px;
  background-color: #ff4700;
  box-shadow: #ff4700 100px 0px 3px 2px;
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
}
.flowers .leaf .line:nth-child(7) {
  top: 300px;
  background-color: #ff5500;
  box-shadow: #ff5500 100px 0px 3px 2px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.flowers .leaf .line:nth-child(8) {
  top: 350px;
  background-color: #ff6300;
  box-shadow: #ff6300 100px 0px 3px 2px;
  -webkit-animation-delay: -0.4666666667s;
          animation-delay: -0.4666666667s;
}
.flowers .leaf .line:nth-child(9) {
  top: 400px;
  background-color: #ff7100;
  box-shadow: #ff7100 100px 0px 3px 2px;
  -webkit-animation-delay: -0.5333333333s;
          animation-delay: -0.5333333333s;
}
.flowers .leaf .line:nth-child(10) {
  top: 450px;
  background-color: #ff8000;
  box-shadow: #ff8000 100px 0px 3px 2px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.flowers .leaf .line:nth-child(11) {
  top: 500px;
  background-color: #ff8e00;
  box-shadow: #ff8e00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.6666666667s;
          animation-delay: -0.6666666667s;
}
.flowers .leaf .line:nth-child(12) {
  top: 550px;
  background-color: #ff9c00;
  box-shadow: #ff9c00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.7333333333s;
          animation-delay: -0.7333333333s;
}
.flowers .leaf .line:nth-child(13) {
  top: 600px;
  background-color: #ffaa00;
  box-shadow: #ffaa00 100px 0px 3px 2px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.flowers .leaf .line:nth-child(14) {
  top: 650px;
  background-color: #ffb800;
  box-shadow: #ffb800 100px 0px 3px 2px;
  -webkit-animation-delay: -0.8666666667s;
          animation-delay: -0.8666666667s;
}
.flowers .leaf .line:nth-child(15) {
  top: 700px;
  background-color: #ffc600;
  box-shadow: #ffc600 100px 0px 3px 2px;
  -webkit-animation-delay: -0.9333333333s;
          animation-delay: -0.9333333333s;
}
.flowers .leaf .line:nth-child(16) {
  top: 750px;
  background-color: #ffd500;
  box-shadow: #ffd500 100px 0px 3px 2px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes mandala {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes mandala {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
